.header{
    height: 80px;
    background-color: #1c2b35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
}
nav a {
    color: #ffff;
    text-decoration: none;
    margin-left: 36px;
    font-size: 16px;
}
.header a:hover{
    color: orange;
}